variables:
  ADMIN_SOLUTION: "AdminPortal/MOE_System.sln"
  ESERVICE_SOLUTION: "EServicePortal/MOE_System.EService.sln"
  AZURE_APP_NAME: "moe-admin"
  AZURE_APP_NAME_E_SERVICE: "moe-e-service"
  RESOURCE_GROUP: "moe-system-test"

stages:
  - build
  - test
  - secret-detection
  - deploy

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

default:
  tags:
    - VNHCMKainVM

# ==================== ADMIN PORTAL ====================

build_admin:
  stage: build
  script:
    - Write-Host "Restoring and Publishing Admin Portal..."
    - dotnet restore $env:ADMIN_SOLUTION
    - dotnet publish AdminPortal/src/MOE_System.API/MOE_System.API.csproj -c Release -o admin_publish
  artifacts:
    name: "admin-package"
    paths:
      - admin_publish/
    expire_in: 1 hour

# ==================== ESERVICE PORTAL ====================

build_eservice:
  stage: build
  script:
    - Write-Host "Restoring and Publishing EService Portal..."
    - dotnet restore $env:ESERVICE_SOLUTION
    - dotnet publish EServicePortal/src/MOE_System.EService.API/MOE_System.EService.API.csproj -c Release -o eservice_publish
  artifacts:
    name: "e-service-package"
    paths:
      - eservice_publish/
    expire_in: 1 hour

# ==================== DEPLOY TO AZURE ====================

deploy_admin_to_azure:
  stage: deploy
  dependencies:
    - build_admin
  script:
    - Write-Host "Logging in to Azure..."
    - az login --service-principal -u $env:AZURE_CLIENT_ID -p $env:AZURE_CLIENT_SECRET --tenant $env:AZURE_TENANT_ID
    - Write-Host "Zipping content using PowerShell..."
    - Compress-Archive -Path admin_publish/* -DestinationPath deploy_admin.zip -Force
    - Write-Host "Deploying to Azure Web App..."
    - az webapp deploy --name $env:AZURE_APP_NAME --resource-group $env:RESOURCE_GROUP --src-path deploy_admin.zip --type zip
  when: manual
  only:
    - main

deploy_eservice_to_azure:
  stage: deploy
  dependencies:
    - build_eservice
  script:
    - Write-Host "Logging in to Azure..."
    - az login --service-principal -u $env:AZURE_CLIENT_ID -p $env:AZURE_CLIENT_SECRET --tenant $env:AZURE_TENANT_ID
    - Write-Host "Zipping content using PowerShell..."
    - Compress-Archive -Path eservice_publish/* -DestinationPath deploy_eservice.zip -Force
    - Write-Host "Deploying to Azure Web App..."
    - az webapp deploy --name $env:AZURE_APP_NAME_E_SERVICE --resource-group $env:RESOURCE_GROUP --src-path deploy_eservice.zip --type zip
  when: manual
  only:
    - main