image: mcr.microsoft.com/dotnet/sdk:10.0

variables:
  ADMIN_SOLUTION: "AdminPortal/MOE_System.sln"
  ESERVICE_SOLUTION: "EServicePortal/MOE_System.EService.sln"
  AZURE_APP_NAME: "moe-admin"
  RESOURCE_GROUP: "moe-system-test"

stages:
  - build
  - test
  - secret-detection
  - deploy

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

default:
  tags:
    - dind-test

# ==================== ADMIN PORTAL ====================

build_admin:
  stage: build
  script:
    - echo "Restoring and Publishing Admin Portal..."
    - dotnet restore $ADMIN_SOLUTION
    - dotnet publish AdminPortal/src/MOE_System.API/MOE_System.API.csproj -c Release -o ./admin_publish
  artifacts:
    paths:
      - ./admin_publish/
    expire_in: 1 hour

# ==================== ESERVICE PORTAL ====================

build_eservice:
  stage: build
  script:
    - echo "Restoring and Publishing EService Portal..."
    - dotnet restore $ESERVICE_SOLUTION
    - dotnet publish EServicePortal/src/MOE_System.EService.API/MOE_System.EService.API.csproj -c Release -o ./eservice_publish
  artifacts:
    paths:
      - ./eservice_publish/
    expire_in: 1 hour

# ==================== DEPLOY TO AZURE ====================

deploy_admin_to_azure:
  stage: deploy
  image: mcr.microsoft.com/azure-cli
  tags:
    - dind-test
  dependencies:
    - build_admin
  script:
    - echo "Logging in to Azure..."
    - az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
    
    - echo "Installing zip utility..."
    - (apk add zip || yum install -y zip || apt-get update && apt-get install -y zip)
    
    - echo "Zipping content..."
    - cd admin_publish
    - zip -r ../deploy.zip .
    - cd ..
    
    - echo "Deploying to Azure Web App..."
    - az webapp deploy --name $AZURE_APP_NAME --resource-group $RESOURCE_GROUP --src-path deploy.zip --type zip
    
  when: manual
  only:
    - main
